In [ ]:
Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
rating_df = pd.read_csv('ratings.csv')
five_rating_df = rating_df[rating_df.rating == 5.0]
five_rating_df['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [ ]:
Задание 2
По данным файла power.csv посчитайте суммарное потребление 
стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
data = pd.read_csv('power.csv')
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ]
filtered_countries_1 = filtered_countries[filtered_countries.quantity > 0]
filtered_countries_2 = filtered_countries_1[ (filtered_countries_1['year'] <= 2010) & (filtered_countries_1['year'] >= 2005)]
filtered_countries_3 = filtered_countries_2[(filtered_countries_2['category'] == 4) | (filtered_countries_2['category'] == 12) | (filtered_countries_2['category'] == 21)]
filtered_countries_3[['country', 'quantity']].groupby('country').sum()

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

In [ ]:
Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [4]:
page_url = 'https://fortrader.org/quotes'

dataframe = pd.read_html(page_url, encoding='utf-8')
dataframe[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть (BRENT) Курс нефти сегодня,42.780,0.000,0.000,NaN
1,Нефть (WTI) Цены на нефть (WTI),40.100,-0.220,-0.550,NaN
2,Сахар котировки на сахар,12.630,11.420,943.800,NaN
3,Газ Цена на газ,1.748,-0.002,-0.114,NaN